
@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 225 6% 13%;
    --foreground: 0 0% 100%;
    
    --card: 223 7% 20%;
    --card-foreground: 0 0% 100%;
    
    --popover: 223 7% 20%;
    --popover-foreground: 0 0% 100%;
    
    --primary: 245 81% 74%;
    --primary-foreground: 0 0% 100%;
    
    --secondary: 220 7% 18%;
    --secondary-foreground: 0 0% 100%;
    
    --muted: 220 7% 18%;
    --muted-foreground: 0 0% 80%;
    
    --accent: 220 7% 18%;
    --accent-foreground: 0 0% 100%;
    
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    
    --border: 220 7% 18%;
    --input: 220 7% 18%;
    --ring: 245 81% 74%;
    
    --radius: 0.5rem;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground antialiased;
  }
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: hsl(var(--secondary));
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(var(--secondary)/0.8);
}
